<!DOCTYPE html>
<html>

  {% include head.html %}
  <style type="text/css">
  .title_a_style{
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid;
    background-color: transparent;
    font-family: "Lora", "Minion Pro", Palatino, Georgia, serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
  }
  .title_a_style:hover{
    color: #c7c7c7;
    text-decoration: none!important;
  }
  </style>
  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/cv_image.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>Currently, I'm a master student of <a class="title_a_style" href="http://www.tongji.edu.cn/~hanliwang/people.html">Multimedia and Intelligent Computing (MIC) Lab</a> at Tongji University. My research interests include deep neural networks, convolutional neural networks and object recognition in computer vision. </p>
          <p>I am applying for my first full-time job, since I'll graduate in April 2017. Positions require for a good knowledge of computer vision and machine learning are preferred, while other software developement jobs needs creativity would also appeal to me.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Work Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">eBay Engineering and Research Center (Shanghai) Co., Ltd</h3>
          <h4 class="resume-item-details" itemprop="description">Search Science &amp; Traffic Intern &bull; March, 2016 &mdash; Present</h4>
          <p class="resume-item-copy">Improve the search experience of shopping listings on www.ebay.com. Taking use of the visual information contained in the items' thumbnail, we can better understand the product of each item. As a result of it, illegal or irrelevant items are filtered and more correct items would be shown in search queries.</p>
          <ul class="resume-item-list">
            <li>A practical and scalable image search solution for ebay cassini search engine.(Winner of the 1st prize in ebay CCOE HACKWEEK 2016)</li>
            <li>Recognize porn or adult listings with shallow visual features and machine learning algorithms. </li>
          </ul>

        </div><!-- end of resume-item -->


      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Tongji University, Shanghai, China</h3>
          <h4 class="resume-item-details" itemprop="description">Master Degree, Computer Science &bull; 2014 &mdash; Present</h4>
          <!-- <p class="resume-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p> -->
        </div>
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Tongji University, Shanghai, China</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor Degree, Computer Science &bull; 2010 &mdash; 2014</h4>
          <p class="resume-item-copy">Minor in Applied Mathematics.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Research Experience</h3>
          <h4 class="resume-item-details">Intelligent Computing Lab &bull; 2014 &mdash; Present</h4>
          <ul class="resume-item-list">
            <li>Research on regularized convolutional neural networks (CNN), taking use of cuBLAS in CUDA Toolkit to achieve fast visual recognition system with good learning performance.<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7379661">Publication on IEEE SMC'2015</a></li>
            <li>Convolutional Neural Network parallel acceleration based on Hadoop.(Undergraduate thesis)</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Personal Projects</h3>
          <h4 class="resume-item-details">In my spare time &bull; 2014 &mdash; Present</h4>
          <ul class="resume-item-list">
            <li><a href="https://github.com/AkiChen/AkiSearch">AkiSearch.</a> A chrome extension app that queries google and baidu with one click. Since google is officially blocked in China, a list of google-ip is used to access google.com .</li>
            <li><a href="https://github.com/AkiChen/Multiview-Caffe">Multiview-Caffe.</a> Implement the widelly used 10-views test strategy of CNN on Caffe framework.</li>
          </ul>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">English</h4>
          <p class="resume-item-copy">CET4 (560/710), CET6 (567/710), Good English reading and writing skills.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Coding Language</h4>
          <p class="resume-item-copy">Proficiency in C++, familiar with HTML/CSS and JS, a beginner in JAVA and Python.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Others</h4>
          <p class="resume-item-copy">Proficiency in Deep Learning algorithms and Caffe framework, basic knowledge of Hadoop.</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Honors and Awards</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">The 1st Prize of ebay CCOE Hackweek 2016</h3>
          <h4 class="resume-item-details">6/2016</h4>
          <p class="resume-item-copy">A practical and scalable image search solution for cassini.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Contest Awards</h3>
          <ul class="resume-item-list">
            <li>04/2013. Meritorious Winner of 2013 Mathematical Contest In Modeling (MCM).</li>
            <li>12/2011. Third Prize of the 28th National University Physics Competition (Shanghai Division).</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Scholarship and Academic</h3>
          <ul class="resume-item-list">
            <li>11/2015. The GuangHua Scholarship.</li>
            <li>03/2014. Merit Student of Tongji University.</li>
            <li>12/2013. The Second Prize Scholarship of Tongji University.</li>
            <li>11/2012. The Third Prize Scholarship of Tongji University.</li>
            <li>12/2011. The Second Prize Scholarship of Tongji University.</li>
          </ul>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="https://github.com/AkiChen">My Github profile</a></li>
            <li><a href="https://raw.githubusercontent.com/AkiChen/resume/gh-pages/cvs/cv-eng-version.pdf">My CV of Chinese version</a></li>
            <li><a href="https://raw.githubusercontent.com/AkiChen/resume/gh-pages/cvs/cv-chi-version.pdf">My CV of Chinese version</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork it on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
      </footer>

    </div>

  </body>

</html>
